/* mobile.css */

/* Add mobile-specific styles here */

@media (max-width: 760px) {
    body {
        row-gap: 20px;
    }

    main-container {
        grid-column-start: 2;
        grid-column-end: 12;
    }

    iframe {
        max-height: 600px !important;
    }
}