body {
    margin: 0px;
    font-family: cairoRegular;
    font-size: 14pt;

    background-color: #3131FF;
    background-image: url(../imgs/assets/dot.png);
    background-repeat: repeat;

    color: white;

    min-height: 100vh;

    display: grid;

    justify-content: space-between;
    flex-direction: column;

grid-template-columns: repeat(12, 1fr);

row-gap: 50px;
}

.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 24px 32px 0px;
    height: fit-content;

    grid-column: span 12;
}

.logo {
    display: block;
    width: 140px;

    margin: auto;

    color: white;
}

h2 {
    line-height: 1.4;
    font-size: 80px;
}

main-container {
    position: relative;
    height: max-content;
    grid-column-start: 3;
    grid-column-end: 11;
}

socials {
    position: relative;
    display: flex;
    justify-content: center;
    gap: 20px;
    fill: white;
}

footer {
    height: auto;
    width: 100%;

    position: relative;
    bottom: 0%;

    grid-column: span 12;
}

footer p {
    padding: 0px;
    grid-column: span 12;
    text-align: center;
}