/* ---------------------------------------------------------------------------------------- Variables --- */

:root {
    --primary-color: #3131FF;
    --text-color: #ffffff;
    --highlight-color: #00F9BB;
    --highlight-text-color: #000000;
    --font-family: cairoRegular;
}

/* ---------------------------------------------------------------------------------------- Global --- */

.show-desktop {
    display: flexbox !important;
}

.show-mobile {
    display: none !important;
}

* {
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
}

body {
    margin: 0px;
    font-family: chivoRegular;
    font-size: 14pt;

    background-color: var(--primary-color);
    background-image: url(../imgs/assets/dot.png);
    background-repeat: repeat;

    color: var(--text-color);

    min-height: 100vh;
    display: flex;

    flex-direction: column;
}

a {
    /*border-bottom: var(--highlight-color) 4px solid;
    line-height: 120%;*/

    /*text-decoration: underline;
    text-underline-offset: 4px;
    text-decoration-thickness: 2px;
    text-decoration-color: var(--highlight-color);*/

    color: var(--text-color);

    box-shadow: inset 0 -2px 0 var(--highlight-color);

    cursor: pointer;
    transition: box-shadow 0.2s ease-out;

    text-decoration: none;
}

a:hover {
    /*text-decoration-thickness: 6px;*/

    box-shadow: inset 0 -24px 0 var(--highlight-color);
    color: var(--highlight-text-color);
}

a:visited {
    color: var(--text-color);
    text-decoration: none;
}

a:visited:hover {
    color: var(--highlight-text-color);
}

.active {
    /*box-shadow: inset 0 24px 0 var(--highlight-color);*/

    /*text-decoration-thickness: 2px;
    background-color: var(--highlight-color);
    color: var(--highlight-text-color);*/

    box-shadow: inset 0 -24px 0 var(--highlight-color);
    color: var(--highlight-text-color);
}

.highlight {
    background-color: var(--highlight-color);
    color: var(--highlight-text-color);
}

p {
    font-size: 16px;
    line-height: 160%;

    max-width: 60ch;
}

/* ---------------------------------------------------------------------------------------- User Actions --- */

::selection {
    background-color: var(--highlight-color);
    color: var(--highlight-text-color);
}

/* ---------------------------------------------------------------------------------------- Notification --- */

a.notification {
    position: relative;
    width: 100%;
    max-width: max-content;
    height: max-content;
    grid-column: span 12;

    padding: 16px 32px;
    border-radius: 16px;

    background-color: var(--highlight-color);
    color: var(--highlight-text-color);

    border: var(--highlight-color) 6px solid;

    text-decoration: none;
    
    box-shadow: none;

    line-height: 100%;
}

a.notification:hover {
    background-color: var(--primary-color);
    color: var(--text-color);

    border: var(--highlight-color) 6px solid;

    box-shadow: none;

    cursor: pointer;
}

/* ---------------------------------------------------------------------------------------- Navbar --- */

navbar {
    position: sticky;
    top: 0px;
    z-index: 2;

    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px 32px 16px;
    height: fit-content;


    background-color: var(--primary-color);
    background-image: url(../imgs/assets/dot.png);
    background-repeat: repeat;

    width: 100%;
}

logotype {
    display: block;
    width: 140px;

    color: var(--text-color);
}

logotype a {
    box-shadow: none;
}

logotype a:hover {
    box-shadow: none;
}

menu {
    display: flex;
    gap: 16px;
}

#menu {
    display: flex;

    position: fixed;
    top: 0px;
    width: 100%;
    height: 100%;
    padding: 100px 16px 32px 16px;

  
    flex-direction: column;
    row-gap: 48px;

    font-size: 48px;


    z-index: 2;
  
    background-color: var(--primary-color);
    background-color: var(--primary-color);
    background-image: url(../imgs/assets/dot.png);
    background-repeat: repeat;
  

    color: var(--highlight-text-color);

    /*border-bottom: rgba(0, 249, 187, 0.5) 1000px solid;*/
    box-shadow: 0px 20px 40px rgba(22, 0, 43, 0.3);

  }
  
  #toggleButton {
    position: relative;
  
    background-color: rgba(0, 0, 0, 0);
  
    height: 30px;
    width: 30px;
  
    border: none;
    text-align: right;
    text-decoration: none;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    font-size: 16px;
    cursor: pointer;
  
    padding: 0px;
  
    z-index: 4;
  
    transition: 300ms cubic-bezier(0.075, 0.82, 0.165, 1);
  }
  
  .menuLine1 {
    rotate: 0deg;
    width: 30px;
    margin-bottom: 5px;
    display: block;
    border-bottom: 3px solid var(--text-color);
    transition: 300ms cubic-bezier(0.075, 0.82, 0.165, 1);
    transition-property: rotate, margin-bottom;
    transform-origin: 0% 50%;
  }
  
  .menuLine3 {
    rotate: -0deg;
    width: 30px;
    margin-bottom: 0px;
    display: block;
    border-bottom: 3px solid var(--text-color);
    transition: 300ms cubic-bezier(0.075, 0.82, 0.165, 1);
    transition-property: rotate;
    transform-origin: 0% 50%;
  }

/* ---------------------------------------------------------------------------------------- Content --- */

main-container {
    position: relative;

    display: grid;
    grid-template-columns: repeat(12, minmax(0, 1fr));
    row-gap: 24px;

    height: max-content;
    width: 100%;
    max-width: 1440px;
    margin: 48px auto;
    padding: 0px 32px;
}

main-container h1 {
    grid-column: span 12;

    font-size: 156px;
    line-height: 110%;

    margin: 0px;
    padding: 0px 0px;

    text-wrap: balance;
}

main-container h2 {
    grid-column: span 12;

    font-size: 60px;
    line-height: 130%;

    margin: 0px;
    padding: 0px 0px;
}

main-container h3 {
    grid-column: span 12;

    font-size: 36px;
    line-height: 130%;

    margin: 0px;
    padding: 0px 0px;
}

main-container p {
    grid-column: span 12;
    font-size: 24px;
    line-height: 160%;
}

ul {
    font-size: 24px;
    grid-column: span 12;
    list-style-type: circle;
}

iframe {
    display: flex;
    
    grid-column: span 12;
    width: 100%;

    height: 100vh;
    max-height: 450px;
    
    margin: 0px auto;
    
    border-radius: 0px;

    background: none;
}

.partner-image {
    display: block;
    grid-column: span 3;

    max-height: 150px;
    max-width: 200px;

    margin: auto;

    text-wrap: initial;

    padding: 24px 24px;
}

box {
    position: relative;

    border: var(--text-color) 2px solid;
    padding: 48px;

    grid-column: span 8;
}

box .tl {
    position: absolute;
    display: block;

    left: 0%;
    top: 0%;

    transform: translate(-50%, -50%);

    width: 10px;
    height: 10px;

    background-color: var(--text-color);
}

box .tm {
    position: absolute;
    display: block;

    left: 50%;
    top: 0%;

    transform: translate(-50%, -50%);

    width: 10px;
    height: 10px;

    background-color: var(--text-color);
}

box .tr {
    position: absolute;
    display: block;

    left: 100%;
    top: 0%;

    transform: translate(-50%, -50%);

    width: 10px;
    height: 10px;

    background-color: var(--text-color);
}

box .ml {
    position: absolute;
    display: block;

    left: 0%;
    top: 50%;

    transform: translate(-50%, -50%);

    width: 10px;
    height: 10px;

    background-color: var(--text-color);
}

box .mr {
    position: absolute;
    display: block;

    left: 100%;
    top: 50%;

    transform: translate(-50%, -50%);

    width: 10px;
    height: 10px;

    background-color: var(--text-color);
}

box .bl {
    position: absolute;
    display: block;

    left: 0%;
    top: 100%;

    transform: translate(-50%, -50%);

    width: 10px;
    height: 10px;

    background-color: var(--text-color);
}

box .bm {
    position: absolute;
    display: block;

    left: 50%;
    top: 100%;

    transform: translate(-50%, -50%);

    width: 10px;
    height: 10px;

    background-color: var(--text-color);
}

box .br {
    position: absolute;
    display: block;

    left: 100%;
    top: 100%;

    transform: translate(-50%, -50%);

    width: 10px;
    height: 10px;

    background-color: var(--text-color);
}

/* ---------------------------------------------------------------------------------------- Footer --- */

footer {
    height: auto;
    width: 100%;

    position: relative;
    display: grid;
    bottom: 0%;

    justify-content: center;
    flex-direction: column;
    row-gap: 16px;

    padding: 100px 0px 20px;

    grid-template-columns: repeat(2);
}

footer p {
    justify-content: center;

    grid-column: span 2;
}

socials {
    position: relative;
    display: flex;
    justify-content: center;
    gap: 20px;
    fill: var(--text-color);
    grid-column: span 2;
}

socials a {

    border: none;
    box-shadow: none;
}

socials a:hover {
    box-shadow: none;
}